:root {
    --track-margin: 35%;
    --image-height: 30vmin;
    --image-gap: 4vmin;
}

.image-tracks > .image {
    width: 45vmin;
    height: var(--image-height);
    object-fit: cover;
    /* object-position: 100% center; */
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.image:hover {
    cursor: pointer;
}

.image-tracks {
    display: flex;
    gap: var(--image-gap);
    position: absolute;
    user-select: none; /* -- Prevent image highlighting -- */
}

#image-track {
    left: -17%;
    top: var(--track-margin);
    transform: translate(0%, -50%); 
}

#image-track-2 {
    left: -15%;
    top: calc(var(--track-margin) + var(--image-height) + var(--image-gap));
    transform: translate(0%, -50%); 
}

