/* https://codepen.io/sosuke/pen/Pjoqqp */

#slide-button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8em;
    color: #555555;
    
    width: 20vw;
    height: 3vh;

    text-align: center;

    transform: translate(40vw, 90vh);
}

#listview {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(100vw, 0%);

    background-color: #770000;
    color: white;

    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 20%;
}