#mobile {
    display: none;
}

@media (max-width: 1000px) {
#desktop {
    display: none;
}

#mobile {
    display: initial;
}

.mobile-list {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
}

.mobile-list > ul {
    list-style-type: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fafafa;

    height: initial;
    width: 100vw;
    margin: 0rem;
    overflow-x: hidden;
    overflow-y: initial;
}

#nav-section {
    display: initial;
}
#nav-section > #title {
    font-size: 28px;
    top: 4.5%;
}

#nav-section > #nav-links {
    font-size: 28px;
    top: initial;
    bottom: 0%;
    left: 0;
    width: 100vw;
    position: fixed;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 5px;
}

.li-title {
    font-size: 22px;
}

.li-header {
    margin-top: 5px;
}
.li-header > a {
    font-size: 20px;
    color: black;
    text-decoration: underline;
}

.li-item {
    font-size: 18px;
}
}