.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;

    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0;

    position: sticky;
    top: 0;
}

.nav-logo {
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    margin-left: 1em;
}

.nav-list a {
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Navbar 2 */
.nav-2 {
    justify-content: space-between;
}

/* Contact button */
.nav-btn {
    background-color: var(--nav-btn);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#position {
    font-size: 18px;
    padding-left: 35px;
    position: sticky;
    top: 72px;
}

#position a {
    color: black;
    text-decoration: underline;
}

/* */