#title {
    color:  #cc0000;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    position: absolute;
    left: calc(4% + 12.5vmin);
    top: 3.5%;
}

#nav-links {
    left: calc(4% + 12.5vmin - 7px);
    top: 8.5%;
    position: absolute;
    text-align: center;
    font-size: 1em;
}
#nav-links > span {
    margin-left: 7px;
}

#profile {
    height: 10vmin;
    width: 10vmin;
    position: absolute;
    border-radius: 5px;
    top: 4%;
    left: 4%;
}