body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;

    height: 100vh;
    width: 100vw;
    background-color: #fafafa;
    margin: 0rem;
    overflow: hidden;
}

a {
    color:  #cc0000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color:  #770000;
}

.a {
    color:  #cc0000;
    text-decoration: none;
}

.a:hover {
    color:  #770000;
}

#bg {
    width: 1000vw;
    height: 100vh;
    background: linear-gradient(to right, #fcfcfc, #f8f8f8, #f0f0f0);
}