@font-face { font-family: Inter; src: url('../fonts/Inter/static/Inter-Regular.ttf'); } 
@font-face { font-family: Inter-Bold; src: url('../fonts/Inter/static/Inter-Bold.ttf'); } 
body {
    background-color: #fafafa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

a {
    color:  #cc0000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color:  #770000;
}

.a {
    color:  #cc0000;
    text-decoration: none;
}

.a:hover {
    color:  #770000;
}